/* common block styles */
.entry-content > * {
  max-width: 610px;
  margin-bottom: 28px;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *.alignwide {
  max-width: 1100px;
}

.entry-content > *.alignfull {
  max-width: none;
}

/* wp-block-paragraph styles */
/* wp-block-image styles */
/* wp-block-gallery styles */
.wp-block-gallery.columns-1 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-1 .blocks-gallery-item {
    width: calc((100% - 16px * 0) / 1);
    margin-right: 16px;
  }
  .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n) {
    margin-right: 0;
  }
}

.wp-block-gallery.columns-2 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-2 .blocks-gallery-item {
    width: calc((100% - 16px * 1) / 2);
    margin-right: 16px;
  }
  .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n) {
    margin-right: 0;
  }
}

.wp-block-gallery.columns-3 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc((100% - 16px * 2) / 3);
    margin-right: 16px;
  }
  .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n) {
    margin-right: 0;
  }
}

.wp-block-gallery.columns-4 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-4 .blocks-gallery-item {
    width: calc((100% - 16px * 3) / 4);
    margin-right: 16px;
  }
  .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.wp-block-gallery.columns-5 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    width: calc((100% - 16px * 4) / 5);
    margin-right: 16px;
  }
  .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n) {
    margin-right: 0;
  }
}

.wp-block-gallery.columns-6 .blocks-gallery-item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-gallery.columns-6 .blocks-gallery-item {
    width: calc((100% - 16px * 5) / 6);
    margin-right: 16px;
  }
  .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n) {
    margin-right: 0;
  }
}

/* wp-block-quote styles */
.wp-block-quote p:last-of-type {
  margin-bottom: 0;
}

/* wp-block-file styles */
/* wp-block-code styles */
/* wp-block-preformatted styles */
/* wp-block-pullquote styles */
.wp-block-pullquote p:last-of-type {
  margin-bottom: 0;
}

.wp-block-pullquote.is-style-solid-color blockquote.has-text-color p, .wp-block-pullquote.is-style-solid-color blockquote.has-text-color cite {
  color: inherit;
}

/* wp-block-table styles */
/* wp-block-verse styles */
pre.wp-block-verse {
  white-space: pre-wrap;
}

/* wp-block-group styles */
.wp-block-group .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0;
}

/* wp-block-button styles */
.wp-block-button__link {
  text-decoration: none;
}

.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:active, .wp-block-button__link:visited {
  text-decoration: none;
}

/* wp-block-columns styles */
.wp-block-columns:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.wp-block-column {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .wp-block-column {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.wp-block-column:nth-child(2n), .wp-block-column:not(:first-child) {
  margin-left: 0;
}

@media (min-width: 768px) {
  .wp-block-column:nth-child(2n), .wp-block-column:not(:first-child) {
    margin-left: 16px;
  }
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

/* wp-block-media-text styles */
/* wp-block-separator styles */
/* wp-block-archives styles */
/* wp-block-calendar styles */
/* wp-block-categories styles */
/* wp-block-latest-comments styles */
/* wp-block-latest-posts styles */
@media (min-width: 768px) {
  .wp-block-latest-posts.columns-2 li {
    width: calc((100% / 2) - 16px);
  }
  .wp-block-latest-posts.columns-3 li {
    width: calc((100% / 3) - 16px);
  }
  .wp-block-latest-posts.columns-4 li {
    width: calc((100% / 4) - 16px);
  }
  .wp-block-latest-posts.columns-5 li {
    width: calc((100% / 5) - 16px);
  }
  .wp-block-latest-posts.columns-6 li {
    width: calc((100% / 6) - 16px);
  }
}

/* wp-block-search styles */
/* wp-block-video styles */
/* wp-block-cover styles */
/* wp-block-audio styles */
/* common editor block styles */
/* Width of blocks */
.wp-block {
  max-width: 610px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

/* wp-block-paragraph editor styles */
/* wp-block-image editor styles */
/* wp-block-gallery editor styles */
/* wp-block-quote editor styles */
/* wp-block-file editor styles */
/* wp-block-code editor styles */
/* wp-block-preformatted editor styles */
/* wp-block-pullquote editor styles */
/* wp-block-table editor styles */
/* wp-block-verse editor styles */
/* wp-block-group editor styles */
/* wp-block-button editor styles */
/* wp-block-columns editor styles */
@media (min-width: 768px) {
  .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"] {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(2n), .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:not(:first-child) {
  margin-left: 0;
}

@media (min-width: 768px) {
  .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(2n), .wp-block-columns > .block-editor-inner-blocks > .block-editor-block-list__layout:not(:first-child) {
    margin-left: 16px;
  }
}

/* wp-block-media-text editor styles */
/* wp-block-separator editor styles */
/* wp-block-archives editor styles */
/* wp-block-calendar editor styles */
/* wp-block-categories editor styles */
/* wp-block-latest-comments editor styles */
/* wp-block-latest-posts editor styles */
/* wp-block-search editor styles */
/* wp-block-video editor styles */
/* wp-block-cover editor styles */
/* wp-block-audio editor styles */
/* common getwid block styles */
.getwid-padding-top-small {
  padding-top: 10px;
}

.getwid-padding-top-medium {
  padding-top: 25px;
}

.getwid-padding-top-normal {
  padding-top: 40px;
}

.getwid-padding-top-large {
  padding-top: 60px;
}

.getwid-padding-bottom-small {
  padding-bottom: 10px;
}

.getwid-padding-bottom-medium {
  padding-bottom: 25px;
}

.getwid-padding-bottom-normal {
  padding-bottom: 40px;
}

.getwid-padding-bottom-large {
  padding-bottom: 60px;
}

.getwid-padding-left-small {
  padding-left: 10px;
}

.getwid-padding-left-medium {
  padding-left: 25px;
}

.getwid-padding-left-normal {
  padding-left: 40px;
}

.getwid-padding-left-large {
  padding-left: 60px;
}

.getwid-padding-right-small {
  padding-right: 10px;
}

.getwid-padding-right-medium {
  padding-right: 25px;
}

.getwid-padding-right-normal {
  padding-right: 40px;
}

.getwid-padding-right-large {
  padding-right: 60px;
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-top-small {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-top-medium {
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-top-normal {
    padding-top: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-top-large {
    padding-top: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-bottom-small {
    padding-bottom: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-bottom-medium {
    padding-bottom: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-bottom-normal {
    padding-bottom: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-bottom-large {
    padding-bottom: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-left-small {
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-left-medium {
    padding-left: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-left-normal {
    padding-left: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-left-large {
    padding-left: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-right-small {
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-right-medium {
    padding-right: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-right-normal {
    padding-right: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-padding-tablet-right-large {
    padding-right: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-top-small {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-top-medium {
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-top-normal {
    padding-top: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-top-large {
    padding-top: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-bottom-small {
    padding-bottom: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-bottom-medium {
    padding-bottom: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-bottom-normal {
    padding-bottom: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-bottom-large {
    padding-bottom: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-left-small {
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-left-medium {
    padding-left: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-left-normal {
    padding-left: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-left-large {
    padding-left: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-right-small {
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-right-medium {
    padding-right: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-right-normal {
    padding-right: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-padding-mobile-right-large {
    padding-right: 60px !important;
  }
}

.getwid-margin-top-small {
  margin-top: 10px !important;
}

.getwid-margin-top-medium {
  margin-top: 25px !important;
}

.getwid-margin-top-normal {
  margin-top: 40px !important;
}

.getwid-margin-top-large {
  margin-top: 60px !important;
}

.getwid-margin-bottom-small {
  margin-bottom: 10px !important;
}

.getwid-margin-bottom-medium {
  margin-bottom: 25px !important;
}

.getwid-margin-bottom-normal {
  margin-bottom: 40px !important;
}

.getwid-margin-bottom-large {
  margin-bottom: 60px !important;
}

.getwid-margin-left-small {
  margin-left: 10px;
}

.getwid-margin-left-medium {
  margin-left: 25px;
}

.getwid-margin-left-normal {
  margin-left: 40px;
}

.getwid-margin-left-large {
  margin-left: 60px;
}

.getwid-margin-right-small {
  margin-right: 10px;
}

.getwid-margin-right-medium {
  margin-right: 25px;
}

.getwid-margin-right-normal {
  margin-right: 40px;
}

.getwid-margin-right-large {
  margin-right: 60px;
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-top-small {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-top-medium {
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-top-normal {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-top-large {
    margin-top: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-bottom-small {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-bottom-medium {
    margin-bottom: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-bottom-normal {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-bottom-large {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-left-small {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-left-medium {
    margin-left: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-left-normal {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-left-large {
    margin-left: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-right-small {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-right-medium {
    margin-right: 25px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-right-normal {
    margin-right: 40px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-margin-tablet-right-large {
    margin-right: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-top-small {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-top-medium {
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-top-normal {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-top-large {
    margin-top: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-bottom-small {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-bottom-medium {
    margin-bottom: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-bottom-normal {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-bottom-large {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-left-small {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-left-medium {
    margin-left: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-left-normal {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-left-large {
    margin-left: 60px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-right-small {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-right-medium {
    margin-right: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-right-normal {
    margin-right: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-margin-mobile-right-large {
    margin-right: 60px !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-font-size-tablet-small {
    font-size: 0.5em !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-font-size-tablet-normal {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-font-size-tablet-large {
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 991px) {
  .getwid-font-size-tablet-huge {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-font-size-mobile-small {
    font-size: 0.5em !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-font-size-mobile-normal {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-font-size-mobile-large {
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 767px) {
  .getwid-font-size-mobile-huge {
    font-size: 2em !important;
  }
}

/* wp-block-getwid-accordion styles */
/* wp-block-getwid-advanced-heading styles */
/* wp-block-getwid-banner styles */
/* wp-block-getwid-button-group styles */
/* wp-block-getwid-circle-progress-bar styles */
/* wp-block-getwid-contact-form styles */
/* wp-block-getwid-content-timeline styles */
/* wp-block-getwid-countdown styles */
/* wp-block-getwid-counter styles */
/* wp-block-getwid-custom-post-type styles */
/* wp-block-getwid-icon styles */
/* wp-block-getwid-icon-box styles */
/* wp-block-getwid-image-box styles */
/* wp-block-getwid-image-hotspot styles */
/* wp-block-getwid-image-slider styles */
/* wp-block-getwid-image-stack styles */
/* wp-block-getwid-instagram styles */
/* wp-block-getwid-mailchimp styles */
/* wp-block-getwid-map styles */
/* wp-block-getwid-media-text-slider styles */
/* wp-block-getwid-person styles */
/* wp-block-getwid-posts-carousel styles */
/* wp-block-getwid-posts-slider styles */
/* wp-block-getwid-price-box styles */
/* wp-block-getwid-price-list styles */
/* wp-block-getwid-progress-bar styles */
/* wp-block-getwid-recent-posts styles */
/* wp-block-getwid-section styles */
/* wp-block-getwid-social-links styles */
/* wp-block-getwid-tabs styles */
/* wp-block-getwid-testimonial styles */
/* wp-block-getwid-toggle styles */
/* wp-block-getwid-video-popup styles */
/* wp-block-getwid-video-popup styles */
/* common getwid block editor styles */
/* wp-block-getwid-accordion editor styles */
/* wp-block-getwid-advanced-heading editor styles */
/* wp-block-getwid-banner editor styles */
/* wp-block-getwid-button-group editor styles */
/* wp-block-getwid-circle-progress-bar editor styles */
/* wp-block-getwid-contact-form editor styles */
/* wp-block-getwid-content-timeline editor styles */
/* wp-block-getwid-countdown editor styles */
/* wp-block-getwid-counter editor styles */
/* wp-block-getwid-custom-post-type editor styles */
/* wp-block-getwid-icon editor styles */
/* wp-block-getwid-icon-box editor styles */
/* wp-block-getwid-image-box editor styles */
/* wp-block-getwid-image-hotspot editor styles */
/* wp-block-getwid-image-slider editor styles */
/* wp-block-getwid-image-stack editor styles */
/* wp-block-getwid-instagram editor styles */
/* wp-block-getwid-mailchimp editor styles */
/* wp-block-getwid-map editor styles */
/* wp-block-getwid-media-text-slider editor styles */
/* wp-block-getwid-person editor styles */
/* wp-block-getwid-posts-carousel editor styles */
/* wp-block-getwid-posts-slider editor styles */
/* wp-block-getwid-price-box editor styles */
/* wp-block-getwid-price-list editor styles */
/* wp-block-getwid-progress-bar editor styles */
/* wp-block-getwid-recent-posts editor styles */
/* wp-block-getwid-section editor styles */
/* wp-block-getwid-social-links editor styles */
/* wp-block-getwid-tabs editor styles */
/* wp-block-getwid-testimonial editor styles */
/* wp-block-getwid-toggle editor styles */
/* wp-block-getwid-video-popup editor styles */
/* wp-block-getwid-video-popup editor styles */
.has-color-1-color {
  color: #0489ef;
}

.has-color-1-background-color {
  background-color: #0489ef;
}

.has-color-2-color {
  color: #484848;
}

.has-color-2-background-color {
  background-color: #484848;
}

.has-color-3-color {
  color: #e0e0e0;
}

.has-color-3-background-color {
  background-color: #e0e0e0;
}

.has-color-4-color {
  color: #808080;
}

.has-color-4-background-color {
  background-color: #808080;
}
