.wp-block-latest-comments {

}

.wp-block-latest-comments__comment {

    .has-avatars & {

        .wp-block-latest-comments__comment-meta,
        .wp-block-latest-comments__comment-excerpt {

        }
    }

    .has-dates &,
    .has-excerpts & {

    }
}

.wp-block-latest-comments__comment-excerpt p {

}

.wp-block-latest-comments__comment-date {

}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {

}