.wp-block-rss {

    &.alignleft {

    }

    &.alignright {

    }

    &.is-grid {

        li {
            margin: 0 $wp-block-rss__grid-gap $wp-block-rss__grid-gap 0;
        }
    }

    @include respond-to(sm) {
        @for $i from 2 through 6 {
            &.columns-#{ $i } li {
                width: calc((100% / #{ $i }) - #{$wp-block-rss__grid-gap});
            }
        }
    }
}

.wp-block-rss__item-publish-date,
.wp-block-rss__item-author {

}