.wp-block-getwid-post-carousel {

    .wp-block-getwid-post-carousel__post {

        .wp-block-getwid-post-carousel__post-title {

        }

        .wp-block-getwid-post-carousel__post-thumbnail {

            img {

            }
        }

        .wp-block-getwid-post-carousel__post-excerpt {

        }
    }
}
