.wp-block-getwid-price-box {

    .wp-block-getwid-price-box__title {

    }

    .wp-block-getwid-price-box__pricing {

        .wp-block-getwid-price-box__currency {

        }

        .wp-block-getwid-price-box__amount {

        }

        .wp-block-getwid-price-box__period {

        }

    }

    .wp-block-getwid-price-box__features {

    }

    .wp-block-button {

    }
}